body {
  background-color: lightgray;
  padding: 0;
  margin: 0;
}

.calculator {
  height: 550px;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.output-screen {
  border: 1px solid black;
  border-radius: 7px;
  height: 100px;
  width: 350px;

  margin-top: 15px;
  margin-left: 25px;

  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  /* padding: 10px; */
  word-wrap: break-word;
  word-break: break-all;
}

.output-screen .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output-screen .current-operand {
  color: white;
  font-size: 2.5rem;
}

/* .previous-operand {
}

.current-operand {
} */

.edits {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
}

.clear {
  font-family: Montserrat;
  font-size: 23px;

  height: 50px;
  width: 200px;

  border: 1px solid black;
  border-radius: 10px;

  margin-right: 70px;
  margin-left: 25px;
}
.delete {
  font-family: Montserrat;
  font-size: 21px;

  height: 50px;
  width: 200px;

  border: 1px solid black;
  border-radius: 10px;

  margin-right: 25px;
}

.operand-sidebar {
  position: fixed;

  z-index: 200;
}

.operand-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-left: 30px;

  height: 320px;
}

.operation:hover {
  background-color: lightgray;
}

.operand--btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.operation {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 60px;
  width: 60px;

  font-family: Montserrat;
  font-size: 35px;
}

.operand:hover {
  background-color: lightgray;
}

button {
  margin-bottom: 25px;
}

.number {
  font-family: Montserrat;
  font-size: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 60px;
  width: 60px;

  margin-right: 10px;
  margin-left: 10px;
}

.equals {
  font-family: Montserrat;
  font-size: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 60px;
  width: 60px;

  margin-right: 10px;
  margin-left: 10px;
}

.number:hover {
  background-color: lightgray;
}

.equals:hover {
  background-color: lightgray;
}

.calulator-numbers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 320px;
  width: 450px;

  margin-left: 25px;
}
